<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shelby Drabant | Software Development</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/simple-sidebar-about.css" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
        
        <!-- Page Content -->
                <p class= "col-xs-10 col-xs-offset-1 about">
Welcome to Binary Bites! This is a website I've been making in order to better understand web development and learn Ruby on Rails. Since I enjoy cooking, I thought a little food blog would be perfect. I'm not the world's best chef, but I have made a few things that are edible. My goal is to post at least one new recipe while also adding new changes to the website weekly in order to get better at cooking and web development. Please feel free to sign up and add your own recipes if you wish!
                </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>